<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <h2>ToDo</h2>
    <form v-on:submit.prevent>
    <input type="text" v-model="newItem">
    <button v-on:click="addClick">
        Add
    </button>
</form> 
<ul class="todolist">
    <li v-for="(todo,index) in todos">
        <input type="checkbox" v-model="todo.isDone">
        <!-- todo.isDone is true , display done in class  -->
        <span v-bind:class="{done:todo.isDone}">{{todo.item}}</span> 
        <button v-on:click="deleteClick(index)">delete</button>
    </li>
</ul>
<!-- <p>{{$data}}</p> -->
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</html>